---
import "@/styles/app.css";

import { BackToHomeLink } from "@/components/back-to-home-link";
import { APP_DESCRIPTION, APP_NAME, APP_REPOSITORY_URL } from "@/constants/app";
import { IconUpRightFromSquare } from "@/icons/up-right-from-square";
import { Layout } from "@/layouts/layout";
import styles from "./_styles.module.css";
---

<Layout title="About">
  <div class={styles.container}>
    <h1 class={styles.title}>About</h1>
    <div class={styles.description}>
      <p>{APP_DESCRIPTION}</p>
      <p>
        また、このウェブサイトはオープンソースなプロジェクトです。詳細については
        <a
          href={APP_REPOSITORY_URL}
          class={styles.link}
          target="_blank"
          rel="noreferrer"
          >GitHub: {APP_NAME}<IconUpRightFromSquare
            class={styles.linkIcon}
          /></a
        > をご覧ください。
      </p>
    </div>
    <BackToHomeLink />
  </div>
</Layout>
