---
import "@/styles/app.css";

import { BackToHomeLink } from "@/components/back-to-home-link";
import { APP_REPOSITORY_URL } from "@/constants/app";
import { IconUpRightFromSquare } from "@/icons/up-right-from-square";
import { Layout } from "@/layouts/layout";
import styles from "./_styles.module.css";
---

<Layout title="Contact">
  <div class={styles.container}>
    <h1 class={styles.title}>Contact</h1>
    <div class={styles.description}>
      <p>
        何かしらの問い合わせに関しては
        <a
          href="https://twitter.com/livejam_db"
          class={styles.link}
          target="_blank"
          rel="noreferrer">X<IconUpRightFromSquare class={styles.linkIcon} /></a
        > のダイレクトメッセージからお願いします。
      </p>
      <p class="mb-16">
        また、プログラムのバグなどを発見した場合は
        <a
          href={`${APP_REPOSITORY_URL}/issues`}
          class={styles.link}
          target="_blank"
          rel="noreferrer"
          >GitHub Issues<IconUpRightFromSquare class={styles.linkIcon} /></a
        > から報告してもらえると助かります。
      </p>
    </div>
    <BackToHomeLink />
  </div>
</Layout>
