---
import "@/styles/app.css";

import { BackToHomeLink } from "@/components/back-to-home-link";
import { PostHeader } from "@/components/post/header";
import { APP_REPOSITORY_URL } from "@/constants/app";
import { Layout } from "@/layouts/layout";
import { posts } from "@/utils/api";
import { description } from "@/utils/meta";
import type { GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import styles from "./_styles/slug.module.css";

export const getStaticPaths: GetStaticPaths = () => {
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
};

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { Content, headings } = await post.render();
---

<Layout title={post.data.title} description={description(post.body)}>
  <div class={styles.container}>
    <article>
      <PostHeader
        title={post.data.title}
        created_at={post.data.created_at}
        last_updated={post.data.last_updated}
        headings={headings}
        historyUrl={`${APP_REPOSITORY_URL}/commits/main/src/content/posts/${post.id}`}
      />
      <div class="post"><Content /></div>
    </article>
    <BackToHomeLink />
  </div>
</Layout>
