---
import Pagination from "@/components/Pagination.astro";
import PaginationInformation from "@/components/PaginationInformation.astro";
import PostCollection from "@/components/PostCollection.astro";
import TagLinks from "@/components/TagLinks.astro";
import Layout from "@/layouts/Layout.astro";
import { getPosts, getTags } from "@/utils/api";
import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";

export const getStaticPaths: GetStaticPaths = ({ paginate }) => {
  return paginate(getPosts(), {
    pageSize: 10,
  });
};

type Props = {
  page: Page<CollectionEntry<"posts">>;
};

const { props } = Astro;
---

<Layout>
  <TagLinks tags={getTags()} class="mb-14" />
  <h1 class="mb-0 text-center">Posts</h1>
  <PaginationInformation
    class="mb-12"
    label="latest"
    currentPage={props.page.currentPage}
    lastPage={props.page.lastPage}
  />
  <PostCollection posts={props.page.data} class="mb-16" />
  <Pagination url={props.page.url} />
</Layout>
