---
import Pagination from "@/components/Pagination.astro";
import PaginationInformation from "@/components/PaginationInformation.astro";
import PostCollection from "@/components/PostCollection.astro";
import TagLinks from "@/components/TagLinks.astro";
import Layout from "@/layouts/Layout.astro";
import { getPostsByTag, getTags } from "@/utils/api";
import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";

export const getStaticPaths: GetStaticPaths = ({ paginate }) => {
  return getTags().flatMap((tag) => {
    return paginate(getPostsByTag(tag), {
      params: { tag },
      pageSize: 10,
    });
  });
};

type Props = {
  page: Page<CollectionEntry<"posts">>;
};

const { page } = Astro.props;
---

<Layout title={`#${Astro.params.tag}`}>
  <TagLinks tags={getTags()} class="mb-14" />
  <h1 class="text-center">Posts</h1>
  <PaginationInformation
    class="mb-12"
    label={`${Astro.params.tag || ""}`}
    currentPage={page.currentPage}
    lastPage={page.lastPage}
  />
  <PostCollection posts={page.data} class="mb-16" />
  <Pagination url={page.url} />
</Layout>
