---
import "@/styles/app.css";

import { Pagination } from "@/components/pagination";
import { PaginationInformation } from "@/components/pagination/information";
import { PostCollection } from "@/components/post/collection";
import { TagLinks } from "@/components/tag-links";
import { Layout } from "@/layouts/layout";
import { getPostsByTag, getTags } from "@/utils/api";
import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";
import styles from "./_styles.module.css";

export const getStaticPaths: GetStaticPaths = ({ paginate }) => {
  return getTags().flatMap((tag) => {
    return paginate(getPostsByTag(tag), {
      params: { tag },
      pageSize: 10,
    });
  });
};

type Props = {
  page: Page<CollectionEntry<"posts">>;
};

const { page } = Astro.props;
---

<Layout title={`#${Astro.params.tag}`}>
  <div class={styles.container}>
    <TagLinks tags={getTags()} />
    <div>
      <h1 class={styles.title}>Posts</h1>
      <PaginationInformation
        label={`${Astro.params.tag || ""}`}
        currentPage={page.currentPage}
        lastPage={page.lastPage}
      />
    </div>
    <PostCollection posts={page.data} />
    <Pagination url={page.url} />
  </div>
</Layout>
