---
import IconUpRightFromSquare from "@/icons/IconUpRightFromSquare.astro";
import { dateFormat } from "@/utils/format";

export type Props = {
  title: string;
  created_at: string;
  last_updated: string;
  historyUrl: string;
};

const { props } = Astro;
---

<header class="mb-8">
  <h1 class="mb-12 text-center text-4xl">{props.title}</h1>
  <ul class="flex flex-col items-end text-sm text-gray-400">
    <li>作成日: {dateFormat(props.created_at)}</li>
    <li>
      <time datetime={props.last_updated}
        >最終更新日: {dateFormat(props.last_updated)}</time
      >
    </li>
    <li>
      <a
        href={props.historyUrl}
        class="group hover:text-pink-500"
        target="_blank"
        rel="noreferrer"
        >更新履歴<IconUpRightFromSquare
          class="ml-1 h-3.5 w-3.5 align-[-0.125em] text-gray-400/70 group-hover:text-pink-500/70 group-active:text-pink-500/70"
        /></a
      >
    </li>
  </ul>
</header>
