---
import { APP_REPOSITORY_URL } from "@/constants/app";
import { FooterCopyright } from "./copyright";
import { FooterRss } from "./rss";
import styles from "./styles.module.css";
---

<footer>
  <div class={styles.information}>
    <FooterCopyright />
    <FooterRss />
  </div>
  <nav class={styles.navigation} aria-label="Footer navigation">
    <a href="/blog/about/" class={styles.link}>About</a>
    <a href="/blog/contact/" class={styles.link}>Contact</a>
    <a
      href={APP_REPOSITORY_URL}
      class={styles.link}
      target="_blank"
      rel="noreferrer">GitHub</a
    >
  </nav>
</footer>
